/* =========================================
   1. RESET & BASE
   ========================================= */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

/* =========================================
   2. LAYOUT & UTILITIES
   ========================================= */
.container {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto; 
}

.dark-bg {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
}

/* =========================================
   3. COMPONENTS (Reutilizables)
   ========================================= */
.btn {
    max-width: 200px;
    padding: 10px 20px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

/* =========================================
   4. HEADER SECTION
   ========================================= */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.header__logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header__nav {
    display: flex;
    gap: 18px;
}

.header__logo a {
    text-decoration: none;
    color: inherit;
}

.header__nav .header__link {
    color: #E5E7EB;
    text-decoration: none;
}

/* =========================================
   5. HERO SECTION
   ========================================= */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    padding: 50px 0;
}

/* --- Hero Left Side (Text) --- */
.hero__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.hero__title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero__text {
    color: #E5E7EB;
    margin: 0;
}

/* --- Hero Right Side (Image) --- */
.hero__image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero__img {
    width: 100%;
    height: auto;
    display: block;
}

/* =========================================
   6. INFORMATION SECTION
   ========================================= */
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    padding: 80px 100px;
}

.information__title{
    font-size: 36px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 30px;
}

.information__content{
    display: flex;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.card__text{
    text-align: center;
}

.card__img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

/* =========================================
   7. TESTIMONIAL SECTION
   ========================================= */
.gray-bg{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.testimonial{
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
}

.testimonial__quote{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 0;
}
.testimonial__author{
    align-self: flex-end;
    font-weight: 700;
}

.testimonial__quote, .testimonial__author{
    font-style: italic;
    color: #1F2937;
}

/* =========================================
   8. CALL TO ACTION SECTION
   ========================================= */

.cta{
    background-color: #3882F6;
    border-radius: 10px;
    margin: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}

.cta__title{
    font-weight: 700;
}

.cta__title, .cta__text{
    color: #E5E7EB;
}

.cta__btn{
    border: 3px solid#E5E7EB;
}

/* =========================================
   8. FOOTER
   ========================================= */
.footer{
    text-align: center;
    padding: 10px 0;
}