/* =========================================
   1. RESET & BASE
   ========================================= */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/* =========================================
   2. LAYOUT & UTILITIES
   ========================================= */
.container {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto; 
}

.dark-bg {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
}

/* =========================================
   3. COMPONENTS (Reutilizables)
   ========================================= */
.btn {
    max-width: 200px;
    padding: 10px 20px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: 0;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

/* =========================================
   4. HEADER SECTION
   ========================================= */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.header__logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header__nav {
    display: flex;
    gap: 18px;
}

.header__nav .header__link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* =========================================
   5. HERO SECTION
   ========================================= */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    padding: 50px 0;
}

/* --- Hero Left Side (Text) --- */
.hero__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.hero__title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero__text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

/* --- Hero Right Side (Image) --- */
.hero__image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero__img {
    width: 100%;
    height: auto;
    display: block;
}